.masthead {
    padding-top: 20rem;
    padding-bottom: 10rem;
}

.masthead .masthead-heading {
    font-size: 4rem;
    line-height: 2.75rem;
}

h1 {
    color: white;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-top: -1rem;
}


/* .btn1 {
    margin: 40px;
}
 */


/*.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
} */


/* .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    /*font-size: 12px;*/
/*  text-align: center;
} */

.btn-circle.btn-xl {
    padding: 18px 28px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.footer {
    display: block;
    padding: 10px;
}